<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Enter Email" %>
  <small class="form-text text-muted">This will also be your username.</small>
</div>
<div class="form-group">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off", :type => "password", :class => "form-control", :placeholder => "Password" %>
</div>

<div class="form-check">
  <% if devise_mapping.rememberable? -%>
    <label class="form-check-label">
      <%= f.check_box :remember_me, :class => "form-check-input" %>
      Remember Me
    </label>
  <% end -%>
</div>
<%= f.submit "Log In", :class => "btn btn-primary" %>

<% end %>
<hr>
<%= render "devise/shared/links" %>
