<div class="row">
  <div class="col-xs-12">
    <div class="card shadow-paper">
      <div class="card-header">
        <h1>My Prayers</h1>
      </div>
      <div class="card-block">
        <% if current_user.prayers.count == 0 %>
          <p>You don't have any prayers yet.</p>
          <p>
            <%= link_to "Create", new_prayer_path, :class => "btn btn-primary" %>
          </p>
        <% end %>

        <% current_user.prayers.reverse.each do |prayer| %>
          <div class="row">
            <div class="col-xs-1">
              <% if prayer.answered == false %>
                <i class="fa fa-circle-thin"></i>
              <% else %>
                <i class="fa fa-check-circle"></i>
              <% end %>
            </div>
            <div class="col-xs-11">
              <%= link_to prayer.body, prayer %>
              <span class="hidden-sm-down float-xs-right">
                <%= link_to 'Edit', edit_prayer_path(prayer), :class => "btn btn-primary btn-sm" %>
                <%= link_to 'Destroy', prayer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
              </span>
              <span class="hidden-md-up">
                <%= link_to 'Edit', edit_prayer_path(prayer), :class => "btn btn-primary btn-block" %>
                <%= link_to 'Destroy', prayer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block" %>
              </span>
              <% if prayer != current_user.prayers.first %>
                <hr>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
