<!DOCTYPE html>
<html>
  <head>
    <title>My Prayer Team</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_page?('/') && !user_signed_in? %>
    <body id="public-homepage">
  <% elsif user_signed_in? %>
    <body id="user-page">
  <% else %>
    <body id="basic-page">
  <% end %>
    <%= render "layouts/nav.html.erb" %>
    <main class="container">
      <%= render "layouts/flash.html.erb" %>
      <%= yield %>
    </main>
  </body>
</html>
